<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>My Coffeemate</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="./css/bootstrap.css" rel="stylesheet" type="text/css">

	<link href="./css/ionicons.css" rel="stylesheet" type="text/css">

	<link href="./css/layerslider.css" rel="stylesheet" type="text/css">

	<link href="./css/styles.css" rel="stylesheet" type="text/css">

	<link href="./css/responsive.css" rel="stylesheet" type="text/css">

	<link href="./css/mb-custom.css" rel="stylesheet" type="text/css">

</head>

<body>

	<header>

		<div class="top-menu">

			<ul class="left-area welcome-area">

			</ul><!-- left-area -->

			<div class="right-area">

				<ul class="social-icons">
					<li><a href="#"><i class="ion-social-github"></i></a></li>

				</ul><!-- right-area -->

			</div><!-- right-area -->

		</div><!-- top-menu -->

		<div class="middle-menu center-text"><a href="#" class="logo"><img id="coffeemateMainImage" class="img-circle" src="images/coupleCoffee.jpg"
				 alt="Avatar" style="width:100px"></a></div>

		<div class="bottom-area">

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li class="drop-down"><a href="#!">HOME<i class="ion-ios-arrow-down"></i></a>

					<ul class="drop-down-menu">
						<li><a href="#">FEATURED</a></li>
						<li><a href="#">ABOUT</a></li>
						<li class="drop-down"><a href="#!">CATEGORIES<i class="ion-ios-arrow-right"></i></a>
							<ul class="drop-down-menu drop-down-inner">
								<li><a href="#">FEATURED</a></li>
								<li><a href="#">ABOUT</a></li>
								<li><a href="#">CATEGORIES</a></li>
							</ul>
						</li>
					</ul>

				</li>
				<li><a href="#">FEATURED</a></li>
				<li><a href="#">ABOUT</a></li>
				<li><a href="#">CATEGORIES</a></li>
				<li><a href="#">CONTACT</a></li>
			</ul><!-- main-menu -->

		</div><!-- conatiner -->
	</header>


	<div class="main-slider">
		<div id="slider">

			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
				<img src="images/slider-1-1600x800.jpg" class="ls-bg" alt="" />

				<div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
					<a class="btn" href="#">My Coffeemate</a>
					<h3 class="title"><b>Meet someone new today</b></h3>
					<h6></h6>
				</div>

			</div><!-- ls-slide -->

			<div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
				<img src="images/slider-2-1600x800.jpg" class="ls-bg" alt="" />

				<div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
					<a class="btn" href="#">My Coffeemate</a>
					<h3 class="title"><b>Meet someone new today</b></h3>
					<h6></h6>
				</div>

			</div><!-- ls-slide -->

		</div><!-- slider -->
	</div><!-- main-slider -->


	<section class="section blog-area">
		<div class="container">
			<h2>Survey Questions</h2>
			<hr>

			<h3><strong>About You</strong></h3>
			<h4>Name (Required)</h4>
			<input type="text" id="name" class="form-control" required>

			<h4>Link to Photo Image (Required)</h4>
			<input type="text" id="photo" class="form-control" required>

			<hr>

			<h3><strong>Question 1</strong></h3>
			<h4>Your mind is always buzzing with unexplored ideas and plans.</h4>
			<select class="chosen-select" id="q1">
				<option value=""></option>
				<option value="1">1 (Strongly Disagree)</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5 (Strongly Agree)</option>
			</select>

			<h3><strong>Question 2</strong></h3>
			<h4>Generally speaking, you rely more on your experience than your imagination.</h4>
			<select class="chosen-select" id="q2">
				<option value=""></option>
				<option value="1">1 (Strongly Disagree)</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5 (Strongly Agree)</option>
			</select>


			<h3><strong>Question 3</strong></h3>
			<h4>You find it easy to stay relaxed and focused even when there is some pressure.</h4>
			<select class="chosen-select" id="q3">
				<option value=""></option>
				<option value="1">1 (Strongly Disagree)</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5 (Strongly Agree)</option>
			</select>


			<h3><strong>Question 4</strong></h3>
			<h4>You rarely do something just out of sheer curiosity.</h4>
			<select class="chosen-select" id="q4">
				<option value=""></option>
				<option value="1">1 (Strongly Disagree)</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5 (Strongly Agree)</option>
			</select>


			<h3><strong>Question 5</strong></h3>
			<h4>People can rarely upset you.</h4>
			<select class="chosen-select" id="q5">
				<option value=""></option>
				<option value="1">1 (Strongly Disagree)</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5 (Strongly Agree)</option>
			</select>


			<h3><strong>Question 6</strong></h3>
			<h4>It is often difficult for you to relate to other people’s feelings.</h4>
			<select class="chosen-select" id="q6">
				<option value=""></option>
				<option value="1">1 (Strongly Disagree)</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5 (Strongly Agree)</option>
			</select>


			<h3><strong>Question 7</strong></h3>
			<h4>In a discussion, truth should be more important than people’s sensitivities.</h4>
			<select class="chosen-select" id="q7">
				<option value=""></option>
				<option value="1">1 (Strongly Disagree)</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5 (Strongly Agree)</option>
			</select>

			<h3><strong>Question 8</strong></h3>
			<h4>You rarely get carried away by fantasies and ideas.</h4>
			<select class="chosen-select" id="q8">
				<option value=""></option>
				<option value="1">1 (Strongly Disagree)</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5 (Strongly Agree)</option>
			</select>

			<h3><strong>Question 9</strong></h3>
			<h4>You think that everyone’s views should be respected regardless of whether they are supported by facts or not.</h4>
			<select class="chosen-select" id="q9">
				<option value=""></option>
				<option value="1">1 (Strongly Disagree)</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5 (Strongly Agree)</option>
			</select>

			<h3><strong>Question 10</strong></h3>
			<h4>You feel more energetic after spending time with a group of people.</h4>
			<select class="chosen-select" id="q10">
				<option value=""></option>
				<option value="1">1 (Strongly Disagree)</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5 (Strongly Agree)</option>
			</select>

			<br>
			<br>

			<!-- Submit Button -->
			<button type="submit" class="btn btn-primary btn-lg btn-block" id="submit"><i class="fa fa-check-circle" aria-hidden="true"></i>
				Submit</button>

			<hr>
			<div class="container">
				<p><a href="/api/friends">API Friends List</a> | <a href="https://github.com/BogieBogard/Express-Friend-Finder">GitHubRepo</a></p>
			</div>

		</div>

		</div><!-- container -->
	</section><!-- section -->


	<section class="footer-instagram-area">

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h5 class="title"><b class="light-color"></b></h5>
				</div><!-- col-lg-4 -->
			</div><!-- row -->
		</div><!-- container -->

		<ul class="instagram">
			<li><a href="#"><img src="images/instragram-1-300x400.jpg" alt="Instagram Image"></a></li>
			<li><a href="#"><img src="images/instragram-2-300x400.jpg" alt="Instagram Image"></a></li>
			<li><a href="#"><img src="images/instragram-3-300x400.jpg" alt="Instagram Image"></a></li>
			<li><a href="#"><img src="images/instragram-4-300x400.jpg" alt="Instagram Image"></a></li>
			<li><a href="#"><img src="images/instragram-5-300x400.jpg" alt="Instagram Image"></a></li>
			<li><a href="#"><img src="images/instragram-6-300x400.jpg" alt="Instagram Image"></a></li>
			<li><a href="#"><img src="images/instragram-7-300x400.jpg" alt="Instagram Image"></a></li>
		</ul>
	</section><!-- section -->


	<footer>
		<div class="container">
			<div class="row">

				<div class="col-sm-6">
					<div class="footer-section">
						<p class="copyright">Matthew Bogard &copy; 2018. | This template is made with <i class="ion-heart" aria-hidden="true"></i>
							by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-sm-6">
					<div class="footer-section">
						<ul class="social-icons">
							<li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="./javascript/jquery-3.1.1.min.js"></script>

	<script src="./javascript/tether.min.js"></script>

	<script src="./javascript/bootstrap.js"></script>

	<script src="./javascript/layerslider.js"></script>

	<script src="./javascript/scripts.js"></script>

</body>

</html>